.enemy {
  position: absolute;
  z-index: 1;
}

.enemy-collider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.torturer-collider, .grabber-collider, .scorcher-collider {
  height: 37px;
  width: 37px;
}

.soul-drinker-collider {
  height: 28px;
  width: 28px;
}

.rock-crusher-collider {
  height: 46px;
  width: 46px;
}

.tracker-collider {
  height: 40px;
  width: 40px;
}

.ranger-collider {
  height: 32px;
  width: 32px;
}

.spiker-collider {
  height: 27px;
  width: 27px;
}

.vision {
  width: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: top;
}

.vision > div {
  width: 100%;
  height: 1%;
}

.enemy-forward-detector {
  position: absolute;
}

.enemy-forward-detector {
  width: 100%;
  height: 100%;
}

.enemy-collider > div:nth-of-type(1) {
  border: 1px solid black;
  position: absolute;
}

.torturer-collider > div:nth-of-type(1), 
.grabber-collider > div:nth-of-type(1), 
.scorcher-collider > div:nth-of-type(1) {
  width: 25px;
  height: 14px;
}

.soul-drinker-collider > div:nth-of-type(1) {
  width: 22px;
  height: 10px;
}

.rock-crusher-collider > div:nth-of-type(1) {
  width: 32px;
  height: 24px;
}

.tracker-collider > div:nth-of-type(1) {
  width: 23px;
  height: 23px;
}

.ranger-collider > div:nth-of-type(1) {
  width: 21px;
  height: 16px;
}

.spiker-collider > div:nth-of-type(1) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.torturer-collider > div:nth-of-type(1) > div:nth-of-type(1),
.torturer-collider > div:nth-of-type(1) > div:nth-of-type(2),
.soul-drinker-collider > div:nth-of-type(1) > div:nth-of-type(1),
.soul-drinker-collider > div:nth-of-type(1) > div:nth-of-type(2),
.rock-crusher-collider > div:nth-of-type(1) > div:nth-of-type(1),
.rock-crusher-collider > div:nth-of-type(1) > div:nth-of-type(2),
.ranger-collider > div:nth-of-type(1) > div:nth-of-type(1),
.ranger-collider > div:nth-of-type(1) > div:nth-of-type(2),
.tracker-collider > div:nth-of-type(1) > div:nth-of-type(1),
.tracker-collider > div:nth-of-type(1) > div:nth-of-type(2),
.grabber-collider > div:nth-of-type(1) > div:nth-of-type(1),
.grabber-collider > div:nth-of-type(1) > div:nth-of-type(2),
.scorcher-collider > div:nth-of-type(1) > div:nth-of-type(1),
.scorcher-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  position: absolute;
  border: 1px solid black;
  filter: brightness(66%);
  border-radius: 1px;
}

.torturer-collider > div:nth-of-type(1) > div:nth-of-type(1),
.torturer-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 6px;
  height: 16px;
  top: 2px;
}

.scorcher-collider > div:nth-of-type(1) > div:nth-of-type(1),
.scorcher-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 6px;
  height: 22px;
  top: 2px;
  border-radius: 5px;
}

.grabber-collider > div:nth-of-type(1) > div:nth-of-type(1),
.grabber-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 7px;
  height: 22px;
  top: 2px;
}

.grabber-collider > div:nth-of-type(1) > div:nth-of-type(1) {
  border-bottom-right-radius: 10px;
}

.grabber-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  border-bottom-left-radius: 10px;
}

.soul-drinker-collider > div:nth-of-type(1) > div:nth-of-type(1),
.soul-drinker-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 4px;
  height: 16px;
  top: 2px;
}

.rock-crusher-collider > div:nth-of-type(1) > div:nth-of-type(1),
.rock-crusher-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 8px;
  height: 28px;
  top: 6px;
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(1),
.tracker-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 6px;
  height: 24px;
  top: 4px;
}

.ranger-collider > div:nth-of-type(1) > div:nth-of-type(1),
.ranger-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 6px;
  height: 21px;
  top: 2px;
}

.enemy-collider > div:nth-of-type(1) > div:nth-of-type(1) {
  left: 100%;
}

.spiker-collider > div:nth-of-type(1) > div:nth-of-type(1) {
  width: 0;
  height: 0;
  background-color: transparent !important;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateY(-3px) translateX(-50%);
}

.enemy-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  right: 100%;
}

.ranger-collider > div:nth-of-type(1) > div:nth-of-type(1) {
  border-bottom-right-radius: 10px;
}

.ranger-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  border-bottom-left-radius: 10px;
}

.spiker-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 0;
  height: 0;
  background-color: transparent !important;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateY(3px) translateX(-50%);
}

.torturer-collider > div:nth-of-type(1) > div:nth-of-type(3),
.soul-drinker-collider > div:nth-of-type(1) > div:nth-of-type(3),
.rock-crusher-collider > div:nth-of-type(1) > div:nth-of-type(3),
.ranger-collider > div:nth-of-type(1) > div:nth-of-type(3),
.tracker-collider > div:nth-of-type(1) > div:nth-of-type(3),
.grabber-collider > div:nth-of-type(1) > div:nth-of-type(3),
.scorcher-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid black;
  filter: brightness(33%);
}

.torturer-collider > div:nth-of-type(1) > div:nth-of-type(3),
.scorcher-collider > div:nth-of-type(1) > div:nth-of-type(3),
.grabber-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 8px;
  height: 8px;
}

.soul-drinker-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 5px;
  height: 5px;
}

.rock-crusher-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 10px;
  height: 10px;
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 7px;
  height: 7px;
}

.ranger-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 8px;
  height: 8px;
}

.spiker-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 0;
  height: 0;
  background-color: transparent !important;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateX(-3px) translateY(-50%);
}

.ranger-collider > div:nth-of-type(1) > div:nth-of-type(4) {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 4px;
  height: 14px;
  transform: translateX(-50%);
  border: 1px solid black;
}

.spiker-collider > div:nth-of-type(1) > div:nth-of-type(4) {
  width: 0;
  height: 0;
  background-color: transparent !important;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(3px) translateY(-50%);
}

.ranger-collider > div:nth-of-type(1) > div:nth-of-type(5) {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -18px;
  left: 50%;
  border-radius: 50%;
  border: 1px solid black;
  transform: translateX(-50%);
}

.spiker-collider > div:nth-of-type(1) > div:nth-of-type(5) {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: white !important;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  border: 1px solid black;
}

.ranger-bullet, .scorcher-bullet {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid black;
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(4),
.tracker-collider > div:nth-of-type(1) > div:nth-of-type(5),
.tracker-collider > div:nth-of-type(1) > div:nth-of-type(6) {
  position: absolute;
  background-color: gray !important;
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(4) {
  width: 40px;
  height: 5px;
  left: 0;
  top: 100%;
  transform: translateX(-9px) translateY(6px);
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(5) {
  width: 3px;
  height: 40px;
  left: 0;
  top: 0;
  transform: translateX(-10px) translateY(-9px);
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(6) {
  width: 3px;
  height: 40px;
  left: 100%;
  top: 0;
  transform: translateX(7px) translateY(-9px);
}

.tracker-collider > div:nth-of-type(1) > div:nth-of-type(7) {
  width: 40px;
  height: 3px;
  left: 100%;
  top: 0;
  transform: translateX(-10px) translateY(-9px);
  opacity: 0;
}

.body-transition {
  transition: 300ms;
}

@keyframes normalAttack {
  50% {
    transform: rotateZ(40deg);
    top: 10px;
    left: 60%;
  }
  100% {
    transform: rotateZ(0deg);
    top: 2px;
    left: 100%;
  }
}

@keyframes leftGrabAttack {
  100% {
    transform: rotateZ(20deg);
    top: 5px;
    left: 80%;
  }
}

@keyframes rightGrabAttack {
  100% {
    transform: rotateZ(-20deg);
    top: 5px;
    right: 80%;
  }
}

.torturer-collider > div:nth-of-type(1) > .attack ,
.soul-drinker-collider > div:nth-of-type(1) > .attack,
.rock-crusher-collider > div:nth-of-type(1) > .attack,
.ranger-collider > div:nth-of-type(1) > .attack,
.grabber-collider > div:nth-of-type(1) > .attack,
.scorcher-collider > div:nth-of-type(1) > .attack {
  animation-name: normalAttack;
  animation-duration: 600ms;
  animation-direction: alternate;
}

.grab > .enemy-collider > .enemy-body > div:nth-of-type(1),
.grab > .enemy-collider > .enemy-body > div:nth-of-type(2) {
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.grab > .enemy-collider > .enemy-body > div:nth-of-type(1) {
  animation-name: leftGrabAttack;
}

.grab > .enemy-collider > .enemy-body > div:nth-of-type(2) {
  animation-name: rightGrabAttack;
}

.path-point {
  position: absolute;
  width: 10px;
  height: 10px;
}

.damaged,
.damaged > div {
  background-color: white !important;
  filter: brightness(300%);
}

.no-transition {
  transition: 0s !important;
}

.fire {
  position: absolute;
  bottom: 100%;
  width: 200%;
  height: 200%;
  left: 50%;
  transform: translateX(-50%);
}