.torturer {
    position: absolute;
}

.torturer > .torturer-collider {
    height: 37px;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
}

.torturer > .torturer-collider > .vision {
  position: absolute;
  border: 1px solid red;
}

.torturer > .torturer-collider > .forward-detector {
  width: 4px;
  height: 4px;
  background-color: red;
  position: absolute;
}

.torturer > .torturer-collider > div:nth-of-type(1) {
  width: 25px;
  height: 14px;
  border: 1px solid black;
  position: absolute;
}

.torturer > .torturer-collider > div:nth-of-type(1) > div:nth-of-type(1),
.torturer > .torturer-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  position: absolute;
  width: 6px;
  height: 16px;
  top: 2px;
  border: 1px solid black;
  filter: brightness(66%);
  border-radius: 1px;
}

.torturer > .torturer-collider > div:nth-of-type(1) > div:nth-of-type(1) {
  left: 100%;
}

.torturer > .torturer-collider > div:nth-of-type(1) > div:nth-of-type(2) {
  right: 100%;
}

.torturer > .torturer-collider > div:nth-of-type(1) > div:nth-of-type(3) {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid black;
  filter: brightness(33%);
}

.body-transition {
  transition: 300ms;
}

.reset-body-transition {
  transition: 0;
}

.dest {
  width: 34px;
  height: 34px;
  position: absolute;
  background-color: gold;
}

@keyframes torturerAttack {
  100% {
    transform: rotateZ(40deg);
    top: 10px;
    left: 60%;
  }
}

.torturer > .torturer-collider > div:nth-of-type(1) > .attack {
  animation-name: torturerAttack;
  animation-duration: 300ms;
  animation-direction: alternate-reverse;
}