.power-up {
    width: 38px;
    height: 38px;
    z-index: 32;
    position: absolute;
    border-radius: 8px;
    filter: drop-shadow(0 0 8px white);
    animation: glow 0.8s infinite alternate;
}

.power-up > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
