.interactable {
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
}

.interactable > img {
  width: 100%;
}

.interactable > .popup {
  border-radius: 5px;
  color: wheat;
  position: absolute;
  z-index: 50;
  padding: 10px;
  width: max-content;
  max-width: 300px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% - 20px);
  transition: 300ms;
  letter-spacing: 1px;
}

.interactable > div > p {
  text-transform: capitalize;
}

.interactable > div > div:nth-of-type(1) {
  width: 100%;
  height: 1px;
  background-color: wheat;
  margin: 10px auto;
}

.interactable > div > div:nth-of-type(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.interactable > div > div:nth-of-type(2) > .interactable-btn {
  border: 1px solid wheat;
  padding: 2px 7px;
}

.not-ideal {
  color: tomato !important;
  bottom: calc(100% + 20px);
  opacity: 1;
}


.not-ideal > div:nth-of-type(2) > .interactable-btn {
  border: 2px solid tomato !important;
}