.inventory-ui {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inventory-ui > .inventory-container {
  display: flex;
  flex-direction: column;
}

.inventory-ui > .inventory-container > .inventory {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
}

.inventory-ui > .inventory-container > .inventory > .block {
  position: relative;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(245, 222, 179, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.inventory-ui > .inventory-container > .inventory > .block > .options {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  text-transform: capitalize;
}

.inventory-ui > .inventory-container > .inventory > .block > .options > div {
  width: 100%;
  padding: 2px 0 2px 5px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.inventory-ui > .inventory-container > .inventory > .block:hover::after,
.inventory-ui > .weapon-wheel-container > .weapon-wheel > div:hover:after,
.inventory-ui > .inventory-container > .inventory > .block > .options > div:hover::after {
  opacity: 1;
}

.inventory-ui > .inventory-container > .inventory > .block > .options > div::after {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.inventory-ui > .inventory-container > .inventory > .block::after,
.inventory-ui > .weapon-wheel-container > .weapon-wheel > div::after,
.inventory-ui > .inventory-container > .inventory > .block > .options > div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
}

.inventory-ui > .inventory-container > .inventory > .block > img {
  width: 80%;
  height: 80%;
}

.inventory-ui > .inventory-container > .inventory > .block > .amount {
  padding: 5px;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 1;
}

.inventory-ui > .inventory-container > .description {
  width: 400px;
  height: 100px;
  padding: 20px 0;
}

.inventory-ui > .inventory-container > .description > h2 {
  text-transform: capitalize;
  color: white;
}

.inventory-ui > .inventory-container > .description > p {
  font-size: 16px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.inventory-ui > .weapon-wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 240px;
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel {
  position: relative;
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel > div {
  position: absolute;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel > div > img {
  height: 100%;
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel > div:nth-of-type(1) {
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel > div:nth-of-type(2) {
  top: 50%;
  left: -120px;
  transform: translateY(-50%) translateX(calc(-100% + 70px));
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel > div:nth-of-type(3) {
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.inventory-ui > .weapon-wheel-container > .weapon-wheel > div:nth-of-type(4) {
  top: 50%;
  right: -120px;
  transform: translateY(-50%) translateX(calc(100% - 70px));
}
