.inventory-ui {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inventory-container {
  display: flex;
  flex-direction: column;
}

.inventory {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.block {
  position: relative;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(245, 222, 179, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  text-transform: capitalize;
}

.options > div {
  width: 100%;
  padding: 2px 0 2px 5px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.block:hover::after,
.weapon-wheel > div:hover:after,
.options > div:hover::after {
  opacity: 1;
}

.options > div::after {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.block::after,
.weapon-wheel > div::after,
.options > div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
}

.block > img {
  width: 80%;
  height: 80%;
}

.block > .amount {
  padding: 5px;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 1;
}

.description {
  width: 400px;
  height: 100px;
  padding: 20px 0;
}

.description > h2 {
  text-transform: capitalize;
  color: white;
}

.description > p {
  font-size: 16px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.weapon-wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 240px;
}

.weapon-wheel {
  position: relative;
}

.weapon-wheel > div {
  position: absolute;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

div.selectable-slot {
  background-color: rgb(34, 139, 34, 0.3);
}

.weapon-wheel > div > img {
  height: 100%;
}

.weapon-wheel > div > p {
  padding: 2px 5px;
  background-color: rgb(119, 136, 153, 0.9);
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
}

.weapon-wheel > div:nth-of-type(1) {
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.weapon-wheel > div:nth-of-type(2) {
  top: 50%;
  left: -120px;
  transform: translateY(-50%) translateX(calc(-100% + 70px));
}

.weapon-wheel > div:nth-of-type(3) {
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.weapon-wheel > div:nth-of-type(4) {
  top: 50%;
  right: -120px;
  transform: translateY(-50%) translateX(calc(100% - 70px));
}

.grid {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  display: flex;
  flex-flow: row wrap;
}

.grid > div {
  width: 25%;
  height: 70px;
  border: 1px solid white;
}

.grid > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.item {
  position: relative;
}

.item::after {
  content: "COMBINE";
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 139, 34, 0.5);
  color: wheat;
  transition: 300ms;
}

.item:hover::after {
  opacity: 1;
}
