.map {
  width: 100000px;
  height: 100000px;
  background-color: #2b2b2b;
}

.loader,
.solid,
.map,
.room-container > div {
  position: absolute;
}

.loader {
  background-color: red;
}

.tl,
.bl,
.tr,
.br {
  position: absolute;
  width: 10px;
  height: 10px;
}

.tl {
  top: -50px;
  left: -50px;
}

.tr {
  top: -50px;
  right: -50px;
}

.bl {
  bottom: -50px;
  left: -50px;
}

.br {
  bottom: -50px;
  right: -50px;
}

.camera-shake {
  animation-name: camshake;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.low-health {
  filter: grayscale(50%);
}

.low-health::after,
.poisoned::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  animation-name: alert;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  transform: translateX(-50%) translateY(-50%);
}

.low-health::after {
  background-color: red;
}

.poisoned::before {
  background-color: green;
  z-index: 100;
}

.flame {
  position: absolute;
  width: 30px;
  height: 25px;
}

.poison {
  position: absolute;
  width: 60px;
  height: 50px;
}

.flashbang {
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  position: fixed;
  animation-name: flash;
  animation-duration: 1s;
  background-color: white;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.explosion {
  position: absolute;
  width: 10px;
  z-index: 5;
}

.explosion > img {
  width: 100%;
}

.explosion-shake {
  animation-name: camera-explosion;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  filter: blur(1px);
}

.door {
  position: absolute;
  border: 1px solid black;
  transition: 600ms;
}

.ver-1.open {
  transform: translateY(-100%);
}

.ver-2.open {
  transform: translateY(100%);
}

.hor-1.open {
  transform: translateX(-100%);
}

.hor-2.open {
  transform: translateX(100%);
}

.ver-1.open > div,
.ver-2.open > div,
.ver-3.open > div,
.ver-4.open > div,
.hor-1.open > div,
.hor-2.open > div,
.hor-3.open > div,
.hor-4.open > div {
  display: none;
}
