.map {
  width: 100000px;
  height: 100000px;
  background-color: #2b2b2b;
}

.loader,
.solid,
.map,
.room-container > div {
  position: absolute;
}

.tl,
.bl,
.tr,
.br {
  position: absolute;
  width: 10px;
  height: 10px;
}

.tl {
  top: -50px;
  left: -50px;
}

.tr {
  top: -50px;
  right: -50px;
}

.bl {
  bottom: -50px;
  left: -50px;
}

.br {
  bottom: -50px;
  right: -50px;
}

@keyframes camera {
  33% {
    transform: translateX(20px);
  }
  66% {
    transform: translateY(20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.camera-shake {
  animation-name: camera;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.low-health {
  filter: grayscale(50%);
}

@keyframes alert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}

.low-health::after, .poisoned::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  animation-name: alert;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.low-health::after {
  background-color: red;
}

.poisoned::after {
  background-color: green;
}

.flame {
  position: absolute;
  width: 30px;
  height: 25px;
}