.map {
  width: 100000px;
  height: 100000px;
  background-color: #2b2b2b;
}

.loader,
.solid,
.map,
.room-container > div {
  position: absolute;
}

.top-left, .bottom-left, .top-right, .bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}

.top-left {
  top: -40px;
  left: -40px;
}

.top-right {
  top: -40px;
  right: -40px;
}

.bottom-left {
  bottom: -40px;
  left: -40px;
}

.bottom-right {
  bottom: -40px;
  right: -40px;
}