@keyframes walk {
  0% {
    height: 8px;
  }
  100% {
    height: 16px;
  }
}

.player {
  position: absolute;
  z-index: 4;
}

.player-collider {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-body {
  width: 22px;
  height: 12px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1px;
  position: relative;
  transition: 300ms;
}

.player-head {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
}

.player-left-hand,
.player-right-hand {
  position: absolute;
  width: 5px;
  height: 14px;
  top: 1px;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 1px;
}

.player-left-hand {
  left: 100%;
}

.player-right-hand {
  right: 100%;
}

.walk > .player-collider > .player-body > .player-left-hand,
.walk > .player-collider > .player-body > .player-right-hand,
.run > .player-collider > .player-body > .player-left-hand,
.run > .player-collider > .player-body > .player-right-hand {
  animation-name: walk;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.player-left-hand {
  animation-direction: alternate;
}

.player-right-hand {
  animation-direction: alternate-reverse;
}

.walk > .player-collider > .player-body > .player-left-hand,
.walk > .player-collider > .player-body > .player-right-hand {
  animation-duration: 600ms;
}

.run > .player-collider > .player-body > .player-left-hand,
.run > .player-collider > .player-body > .player-right-hand {
  animation-duration: 300ms;
}

.low-health-player > .player-collider > .player-body > .player-left-hand,
.low-health-player > .player-collider > .player-body > .player-right-hand {
  animation-duration: 900ms !important;
}

.player-collider > .forward-detector {
  position: absolute;
  width: 4px;
  height: 4px;
}

.aim > .player-collider > .player-body > .player-left-hand {
  transform: rotateZ(40deg);
  left: unset;
  right: 2px;
}

.throwable-aim > .player-collider > .player-body > .player-left-hand {
  right: 2px;
  height: 14px;
}

.aim > .player-collider > .player-body > .player-right-hand {
  transform: rotateZ(-40deg);
  right: unset;
  left: 2px;
}

.throwable-aim > .player-collider > .player-body > .player-right-hand {
  top: -8px;
  transform: rotateZ(-5deg);
  z-index: 8;
}

.aim > .player-collider > .player-body > .player-left-hand,
.aim > .player-collider > .player-body > .player-right-hand {
  top: 2px;
  height: 20px;
  border-radius: 2px;
}

.aim > .player-collider > .player-body, .throwable-aim > .player-collider > .player-body {
  transition: 0ms !important;
}

.weapon {
  left: 50%;
  top: 15px;
  width: 4px;
  z-index: 7;
  position: absolute;
  border: 1px solid black;
  transform: translateX(-50%);
  transform-style: preserve-3d;
}

.throwable {
  z-index: 7;
  left: -3px;
  top: 0px;
  position: absolute;
}

.throwable-img {
  top: -20px;
  left: -5px;
  width: 10px;
  position: absolute;
  transform: rotateZ(-5deg);
}

.laser, .throwable-laser {
  width: 0.25px;
  position: absolute;
  left: 50%;
  top: 0;
}

.laser {
  transform: translateX(-50%) translateZ(-10px);
}

.throwable-laser {
  transform: translateX(-50%) translateZ(-10px) rotateZ(-5deg);
  transform-origin: top;
}

.laser > div, .throwable-laser > div {
  width: 100%;
  height: 1%;
}

.throwable-item {
  width: 10px;
  position: absolute;
}

.throw-target {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 300px;
  left: 22px;
}