.bg-theme {
    background: rgba(0, 0, 0, 0.67);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    z-index: 20;
    color: wheat;
}