.ui-theme {
  left: 0;
  z-index: 70;
  position: fixed;
  backdrop-filter: blur(3.3px);
  background: rgba(0, 0, 0, 0.67);
  -webkit-backdrop-filter: blur(3.3px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.ui {
  top: 10px;
  gap: 20px;
  display: flex;
  width: max-content;
  padding: 20px 30px;
  height: fit-content;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.health-bar,
.stamina-bar {
  height: 8px;
  transform: skewX(-40deg);
  backdrop-filter: blur(3.3px);
  box-shadow: 1px 1px 10px white;
  -webkit-backdrop-filter: blur(3.3px);
  background-color: rgba(255, 255, 255, 0.5);
}

.health,
.stamina {
  width: 100%;
  height: 100%;
}

.health {
  transition: 300ms;
  background: linear-gradient(to right, #cb2d3e, #ef473a);
}

.stamina {
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

.weapon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.weapon-icon {
  opacity: 0.5;
  height: 50px;
}

.ammo-count {
  gap: 20px;
  color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quit {
  gap: 20px;
  right: 100px;
  bottom: 30px;
  padding: 5px;
  display: flex;
  color: wheat;
  position: fixed;
  transition: 100ms;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.quit:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.quit > p:nth-of-type(1) {
  padding: 2px 7px;
  border: 1px solid wheat;
  text-transform: uppercase;
}

.quit > p:nth-of-type(2) {
  text-transform: capitalize;
}

.grab-bar {
  left: 50%;
  width: 30%;
  z-index: 40;
  bottom: 40%;
  height: 16px;
  position: fixed;
  border: 3px solid wheat;
  backdrop-filter: blur(3.3px);
  box-shadow: 1px 1px 10px darkmagenta;
  transform: translateX(-50%) skewX(-40deg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.grab-bar > .breakpoint {
  width: 10%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgb(255, 165, 0), rgb(255, 203, 107));
}

.first-ok > div:nth-of-type(1),
.second-ok > div:nth-of-type(2),
.third-ok > div:nth-of-type(3) {
  background: linear-gradient(
    to right,
    rgb(34, 139, 34),
    rgb(45, 183, 45)
  ) !important;
}

.first-fail > div:nth-of-type(1),
.second-fail > div:nth-of-type(2),
.third-fail > div:nth-of-type(3) {
  background: linear-gradient(
    to right,
    rgb(220, 20, 60),
    rgb(220, 68, 99)
  ) !important;
}

.grab-bar > .slider {
  top: 50%;
  width: 1%;
  height: 200%;
  position: absolute;
  background-color: wheat;
  transform: translateY(-50%);
}

.grab-bar-message-container {
  gap: 5px;
  bottom: 30px;
  display: flex;
  color: white;
  position: absolute;
  align-items: center;
  text-transform: capitalize;
  animation-duration: 200ms;
  animation-name: grabBarMessage;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.grab-bar-btn {
  padding: 1px 5px 0 5px;
  border: 1px solid white;
}

.progress-popup {
  gap: 10px;
  top: 10px;
  left: 100%;
  z-index: 65;
  width: 500px;
  padding: 20px;
  display: flex;
  line-height: 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  text-align: justify;
  flex-direction: column;
  animation-duration: 300ms;
  animation-direction: alternate;
  animation-name: popup-animation;
  transform: translateX(calc(-100% - 10px));
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.9);
}

.progress-popup > p {
  color: wheat;
}

.progress-popup > p > span {
  padding: 2px 5px;
  border: 1px solid wheat;
}

.popup-fade-out {
  animation-duration: 1s;
  animation-name: fade-out;
  animation-direction: alternate;
}

.progress-popup > span {
  padding: 5px;
  color: white;
  align-self: end;
  transition: 300ms;
  width: max-content;
  text-transform: capitalize;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid white;
}

.progress-popup > span:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.room-name-animation {
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-name: room-name-popup;
}

.room-name-popup {
  left: 100%;
  bottom: 10px;
  padding: 20px;
  color: wheat;
  width: max-content;
  border-top-left-radius: 5px;
  transform: translateX(-100%);
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.room-name-popup > span {
  opacity: 0;
  margin-left: 2px;
  margin-right: 2px;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: character-animation;
}

.room-name-fade-out {
  animation-duration: 5s;
  animation-name: fade-out;
  animation-direction: alternate;
}

.timer {
  animation-name: time-counter;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.dialogue {
  top: 0;
  left: 100%;
  z-index: 35;
  opacity: 0.9;
  padding: 10px;
  color: white;
  position: absolute;
  border-radius: 2px;
  letter-spacing: 2px;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
  transform: translateY(-100%);
  background-color: lightblue;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.dialogue-animation {
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: dialogue-animation;
}

.dialogue > span {
  opacity: 0;
  animation-duration: 10ms;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-name: character-animation;
}