.ui-theme {
  position: fixed;
  left: 0;
  z-index: 7;
  background: rgba(0, 0, 0, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
}

.ui {
  width: 450px;
  height: fit-content;
  top: 10px;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
}

.health-bar,
.stamina-bar {
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 10px white;
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  transform: skewX(-40deg);
}

.health,
.stamina {
  width: 100%;
  height: 100%;
}

.health {
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  transition: 300ms;
}

.stamina {
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

.weapon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weapon-icon {
  opacity: 0.5;
  height: 50px;
}

.ammo-count {
  color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.quit {
  position: fixed;
  right: 100px;
  bottom: 30px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  color: wheat;
  padding: 5px;
  transition: 100ms;
}

.quit:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.quit > p:nth-of-type(1) {
  border: 1px solid wheat;
  padding: 2px 7px;
  text-transform: uppercase;
}

.quit > p:nth-of-type(2) {
  text-transform: capitalize;
}

.grab-bar {
  width: 30%;
  height: 16px;
  position: fixed;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%) skewX(-40deg);
  box-shadow: 1px 1px 10px darkmagenta;
  backdrop-filter: blur(3.3px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  border: 3px solid wheat;
  z-index: 5;
}

.grab-bar > .breakpoint {
  width: 10%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgb(255, 165, 0), rgb(255, 203, 107));
}

.first-ok > div:nth-of-type(1), .second-ok > div:nth-of-type(2), .third-ok > div:nth-of-type(3) {
  background: linear-gradient(to right, rgb(34, 139, 34), rgb(45, 183, 45)) !important;
}

.first-fail > div:nth-of-type(1), .second-fail > div:nth-of-type(2), .third-fail > div:nth-of-type(3) {
  background: linear-gradient(to right, rgb(220, 20, 60), rgb(220, 68, 99)) !important;
}

.grab-bar > .slider {
  width: 1%;
  height: 200%;
  background-color: wheat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes grabBarMessage {
  0% {
    transform: scale(1) skewX(40deg);
  }
  100% {
    transform: scale(1.2) skewX(40deg);
  }
}

.grab-bar-message-container {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  position: absolute;
  color: white;
  bottom: 30px;
  animation-name: grabBarMessage;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 200ms;
}

.grab-bar-btn {
  border: 1px solid white;
  padding: 1px 5px 0 5px;
}