.store-ui {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 80px 80px 130px 80px;
}

.pagination-container {
    gap: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pagination-container > div {
    height: 100%;
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    justify-content: center;
    text-transform: capitalize;
    color: rgb(245, 222, 179, 0.7);
    border: 1px solid rgb(245, 222, 179, 0.7);
}

.pagination-container > div:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.page-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 1px solid rgb(245, 222, 179, 0.7);
}

.page-container,
.upgrade-right,
.upgrade-left {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.page-container::-webkit-scrollbar,
.upgrade-right::-webkit-scrollbar,
.upgrade-left::-webkit-scrollbar {
    display: none;
}

.buy,
.sell {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.upgrade {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.buy-item,
.sell-item,
.upgrade-item,
.upgrade-detail-component {
    width: 100%;
    padding: 15px;
    color: wheat;
}

.upgrade-detail-title {
    text-transform: capitalize;
}

.upgrade-detail-component {
    border: 1px solid rgb(255, 192, 203, 0.5);
}

.buy-item:hover,
.sell-item:hover,
.upgrade-item:hover,
.upgrade-detail-component:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.upgrade-detail-lower {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.upgrade-detail-level,
.upgrade-detail-value,
.upgrade-detail-price {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upgrade-detail-price > img {
    width: 30px;
}

.buy-wrapper,
.sell-wrapper,
.upgrade-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buy-item-name,
.sell-item-name,
.upgrade-item-name {
    text-transform: capitalize;
}

.buy-item-img,
.sell-item-img,
.upgrade-item-img {
    height: 60px;
}

.buy-item-coin,
.sell-item-coin {
    height: 40px;
}

.info {
    gap: 400px;
    width: fit-content;
}

.info,
.left,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 300px;
    justify-content: space-between;
}

.right {
    width: 70px;
    justify-content: space-between;
}

.deal-popup-container {
    top: 0;
    width: 100%;
    height: 100%;
}

.upgrade-popup,
.deal-popup {
    top: 50%;
    left: 50%;
    padding: 40px;
    display: flex;
    color: wheat;
    position: fixed;
    border-radius: 5px;
    flex-direction: column;
    background-color: black;
    border: 1px solid wheat;
    transform: translateX(-50%) translateY(-50%);
}

.deal-popup {
    gap: 40px;
}

.upgrade-popup {
    gap: 20px;
    align-items: center;
}

.deal-popup-title {
    text-align: center;
    text-transform: capitalize;
}

.deal-heading-container {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
}

.upgrade-popup-btn-container,
.deal-popup-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upgrade-popup-btn-container {
    gap: 100px;
}

.popup-confirm:hover {
    background-color: forestgreen;
}

.deal-popup-img {
    height: 60px;
}

.popup-examine {
    border: 1px solid grey;
    background-color: black;
}

.popup-examine:hover {
    border: 1px solid white;
}

.popup-confirm {
    gap: 10px;
    display: flex;
    color: lightgrey;
    flex-direction: row;
    align-items: center;
    background-color: darkgreen;
    justify-content: space-between;
}

.popup-confirm > img {
    width: 25px;
}

.message {
    left: 50%;
    top: 100%;
    color: red;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    width: max-content;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.message-animation {
    animation-name: fade-out;
    animation-duration: 500ms;
    animation-iteration-count: 7;
    animation-direction: alternate;
}

.upgrade-left {
    width: 40%;
}

.upgrade-right {
    width: 60%;
    overflow: auto;
    height: inherit;
    border-left: 1px solid wheat;
}

.active-page {
    background-color: rgba(255, 255, 255, 0.15);
}
